.container1{
  background-color: #79b0e2;
}
input[type=text] {
  width: 5%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.row{
  text-align: center;
}
.container2{
  background-color: white;
}
.row2{
  size: 10%;
}
.ten {
  margin-left: 6.5%;
  margin-top: 0%;
}